#subscribe {
  background-image: url(./images/background.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
}

.div-subs {
  background: rgb(68,68,75);
  background: linear-gradient(90deg, rgba(68,68,75,0.8) 0%, rgba(68,68,75,0.8) 49%, rgba(43,109,18,0.8) 50%, rgba(43,109,18,0.8045343137254902) 100%);
}

@media screen and (max-width : 568px) {
 #subscribe {
  height: 200px;
 }
} 